{% extends 'base.html' %} {% load static %} {% block content %}

<section id="hero-about">
  <p style="font-style: normal">
    The Pokhara Rangasala is a multi-purpose stadium in Pokhara, Gandaki
    Province, Nepal. It has a capacity of 16,500 spectators.The venue is located
    to the south of Pokhara at Rambazaar on the eastern bank of Seti river. The
    facility comprises a football stadium surrounded by athletics track of 400m,
    12A side football ground, a volleyball court, a basketball court, cricket
    ground and covered hall for games like badminton, karate and other indoor
    sports. The administrative building of Kaski district sport office and ANFA
    Kaski lies here. It is only venue in Nepal beside Dasarath Rangasala Stadium
    to host international football matches and beside Tribhuvan University
    International Cricket Ground to host international cricket matches. The
    stadium has hosted several international friendly matches of the Nepal
    national football team. The other facilities near the stadium are used to
    host volleyball, basketball, cricket, wrestling, boxing and badminton. The
    yearly sports meet of PABSON and NPABSON is also held in same venue. The
    venue is also utilized for concerts and large gathering
  </p>

  <img src="{% static 'images\stadium1.jpg' %}" />
</section>
  {% endblock content %}
</div>
